body{
    padding-top: 60px;
    background-color: bisque;
}
h1{
    text-align: center;
    padding: 30px;
}

img{
    height: 50vh;
    width: 46vw;
}
p{
    line-height: 200%;
}

.row {
    --bs-gutter-x: .rem; !important
}

@media (min-width: 576px)
.col-sm-6 {
    flex: 0 0 auto;
    width: 48%;!important
}